<!--Zone Editor Window-->
<div class="modal full fade dark" id="region_editor" tabindex="-1" role="dialog" aria-labelledby="region_editorLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="region_editorLabel"><i class="fa fa-grav"></i> &nbsp; <%-lang['Region Editor']%></h4>
      </div>
      <div class="modal-body">
      <div class="row">
          <div class="col-md-6 text-left">
              <div class="form-group-group orange where">
                  <h4><span class="cord_name"></span>
                    <div class="pull-right">
                        <a class="btn btn-success btn-xs add">&nbsp;<i class="fa fa-plus"></i>&nbsp;</a>
                        <a class="btn btn-danger btn-xs erase">&nbsp;<i class="fa fa-trash-o"></i>&nbsp;</a>
                    </div>
                  </h4>
                <div class="form-group">
                    <label>
                        <div><span><%-lang.Regions%></span></div>
                        <div><select id="regions_list" class="form-control"></select></div>
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <div><span><%-lang['Region Name']%></span></div>
                        <div><input class="form-control" name="name"></div>
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <div><span><%-lang['Indifference']%></span></div>
                        <div><input class="form-control" name="sensitivity"></div>
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <div><span><%-lang['Max Indifference']%></span></div>
                        <div><input class="form-control" name="max_sensitivity"></div>
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <div><span><%-lang['Trigger Threshold']%></span></div>
                        <div><input class="form-control" name="threshold"></div>
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <div><span><%-lang['Color Threshold']%></span></div>
                        <div><input class="form-control" name="color_threshold"></div>
                    </label>
                </div>
                <div class="form-group">
                    <label><div><span><%-lang.Points%></span></div></label>
                        <table class="table table-striped" id="regions_points"><tbody></tbody></table>
                </div>
              </div>
          </div>
          <div class="col-md-6">
              <p><%-lang.RegionNote%></p>
              <div class="canvas_holder">
                  <div id="region_editor_live"><iframe></iframe><img></div>
                  <textarea id="regions_canvas" rows=3 class="hidden canvas-area input-xxlarge" disabled></textarea>
              </div>
          </div>
      </div>
      </div>
      <div class="modal-footer">
          <div class="pull-left">
            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="region_still_image" title="<%-lang['Switch on for Still Image']%>">
              <input type="checkbox" id="region_still_image" value="1" name="remember" class="mdl-switch__input">
                <span class="monospace mdl-switch__label"><%-lang['Live Stream Toggle']%></span>
            </label>
          </div>
        <button type="button" class="btn btn-default pull-right" data-dismiss="modal"><i class="fa fa-times"></i> <%-lang.Close%></button>
      </div>
    </form>
  </div>
</div>
